* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    max-width: 1280px;
    margin: auto;
    margin-top: 60px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

header {
    display: flex;
    align-items: center;
}

p {
    margin: 15px;
    font-size: 1.3rem;
    text-align: center;
}

header p {
    text-align: justify;
    text-indent: 4rem;
}

header section:first-child {
    flex: 2;
    text-align: center;
}

header section:last-child {
    flex: 3
}

main>section>h2 {
    margin: 30px auto;
    font-size: 3rem;
}

.logo {
    width: 100%;
    height: auto;
}

.principios {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.principios article {
    text-align: center;
    flex: 1;
    padding: 20px;
}

.principios article:nth-child(odd) {
    color: white;
}

.principios article h2 {
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 20px;
}

.principios article p {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.proposta {
    text-align: center;
    margin: 20px auto;
}

.proposta .video-wrapper {
    position: relative;
    margin: 20px auto;
    width: 100%;
    height: 0;
    padding: 20px;
    padding-bottom: 55%;
    overflow: hidden;
}

.proposta iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.para-quem {
    margin: 20px auto;
}

.para-quem article {
    display: flex;
    align-items: center;
    min-height: 300px;
}

.para-quem article p {
    padding: 20px;
}

.para-quem article img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.para-quem article:nth-child(even) {
    border-top: 8px solid rgb(0, 0, 0, .5);
    border-bottom: 8px solid rgb(0, 0, 0, .5);
    border-left: 8px solid rgb(0, 0, 0, .5);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.para-quem article:nth-child(odd) {
    flex-direction: row-reverse;
    border-right: 8px solid rgb(0, 0, 0, .5);
}

.para-quem article:last-child {
    border-bottom: 8px solid rgb(0, 0, 0, .5);
    border-bottom-right-radius: 8px;
}


.doacao p {
    text-align: justify;
    text-indent: 4rem;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header>section {
        margin: 10px 20px;
    }

    .logo {
        width: 80%;
    }

    .principios {
        flex-direction: column;
    }

    .principios article h2 {
        font-size: 3rem;
    }

    .para-quem article {
        flex-direction: column !important;
    }
}